<div>
  <div>
    <p-button class="mr-2" label="Novo Processo" (onClick)="newProcess()" />
    <p-button label="Nova Filial" (onClick)="newFilial()" />
  </div>
  <div>
    <h3>Entregas ainda nao Avaliadas</h3>

    <div *ngFor="let process of processes">
      <div *ngIf="!process.accept">
        <p-panel [toggleable]="true">
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="font-bold"
                >Filial: {{ process.destiny.name }} - Responsavel:
                {{ process.destiny.responsible?.name }}</span
              >
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div
              class="flex flex-wrap align-items-center justify-content-between gap-3"
            >
              <div class="flex align-items-center gap-2">
                <p-button icon="pi pi-user" rounded="true" text="true" />
                <p-button
                  icon="pi pi-bookmark"
                  severity="secondary"
                  rounded="true"
                  text="true"
                />
              </div>
              <span class="p-text-secondary">
                Criado em: {{ process.createdAt | date }}
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="icons">
            <p-button (click)="hasAccept(process, true)" class="mr-2"
              >Aceitar</p-button
            >
            <p-button (click)="hasAccept(process, false)">Recusar</p-button>
          </ng-template>
          <div class="m-0">
            <div class="mb-1">Para a Filial: {{ process.destiny.name }}</div>
            <div class="mb-1">
              Para o Responsavel: {{ process.destiny?.responsible?.name }}
            </div>
            <div class="mb-1">
              Já Aceito? {{ process.accept ? "Sim" : "Não" }}
            </div>
            <div class="mb-1">Detalhes: {{ process.description }}</div>
            <div class="mb-1">
              Deve ser entregue ate: {{ process.deadline | date }}
            </div>
            <div class="mb-1">
              Origem: Cep:{{ process.cep }}, Logradouro: {{ process.street }},
              {{ process.city }} - {{ process.state }}
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
<p-toast />
